#####
#Force non-www in a Generic Way
#####

RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.
RewriteCond %{HTTPS}s ^on(s)|off
RewriteCond http%1://%{HTTP_HOST} ^(https?://)(www\.)?(.+)$
RewriteRule ^ %1%3%{REQUEST_URI} [R=301,L]

#####
#Remove Trailing Slash
#####
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [R=301,L]

#####
#Alias PHP URLs
#####
RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^([^.]+)$ $1.html [NC,L]

#####
#Alternate default index pages
#####
DirectoryIndex first.html index.htm index.html index.php

#####
#Disable Directory Browsing
#####
Options All -Indexes

#####
#Compress Text Files
#####
<IfModule mod_deflate.c>

  # Force compression for mangled headers.
  # https://developer.yahoo.com/blogs/ydn/pushing-beyond-gzipping-25601.html
  <IfModule mod_setenvif.c>
    <IfModule mod_headers.c>
      SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
      RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
    </IfModule>
  </IfModule>

  # Compress all output labeled with one of the following MIME-types
  # (for Apache versions below 2.3.7, you don't need to enable `mod_filter`
  #  and can remove the `<IfModule mod_filter.c>` and `</IfModule>` lines
  #  as `AddOutputFilterByType` is still in the core directives).
  <IfModule mod_filter.c>
    AddOutputFilterByType DEFLATE application/atom+xml \
                                  application/javascript \
                                  application/json \
                                  application/rss+xml \
                                  application/vnd.ms-fontobject \
                                  application/x-font-ttf \
                                  application/x-web-app-manifest+json \
                                  application/xhtml+xml \
                                  application/xml \
                                  font/opentype \
                                  image/svg+xml \
                                  image/x-icon \
                                  text/css \
                                  text/html \
                                  text/plain \
                                  text/x-component \
                                  text/xml
  </IfModule>

</IfModule>

#####
#Cache Control
#####
<ifModule mod_headers.c>
  # One month for image files, css, and js
  <filesMatch ".(jpg|jpeg|jfif|png|gif|ico|webp|css|js)$">
  Header set Cache-Control "max-age=2628000, public"
  </filesMatch>

  # One hour for html, pdf, xml, and txt
  <filesMatch ".(html|htm|pdf|xml|txt)$">
  Header set Cache-Control "max-age=600, public"
  </filesMatch>

  # No cache for php
  <filesMatch ".(php)$">
    FileETag None
    Header unset ETag
    Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
  </filesMatch>
</ifModule>

#####
#Redirects
#####
ErrorDocument 404 /404/index.html
ErrorDocument 403 /403/index.html

Redirect /Trading-Post https://squareup.com/store/unami-lodge-one
Redirect /trading-post https://squareup.com/store/unami-lodge-one
Redirect /tradingpost https://squareup.com/store/unami-lodge-one
Redirect /Store https://squareup.com/store/unami-lodge-one
Redirect /store https://squareup.com/store/unami-lodge-one
Redirect /ue /unitelections
Redirect /adultnominations https://docs.google.com/forms/d/e/1FAIpQLSc0PjhMStR5QEJPzJfdmIZrCsfOOllB83N7NOc_Qqjy1zulcw/viewform?usp=send_form
Redirect /AdultNominations https://docs.google.com/forms/d/e/1FAIpQLSc0PjhMStR5QEJPzJfdmIZrCsfOOllB83N7NOc_Qqjy1zulcw/viewform?usp=send_form

Redirect /lldsurvey https://docs.google.com/forms/d/1hox9Hvd39fUVuhEYT3iF70HyPl1qdeqh-9KA-FbMq8M/viewform?usp=send_form

Redirect /conclave /news/2020-Conclave
Redirect /Conclave /news/2020-Conclave

Redirect /InterestSurvey https://docs.google.com/forms/d/1-9Q1EYtRr4SbrYX39T_fn7gjo3EK58W5VGXI79wfYlU/viewform?usp=send_form
Redirect /interestsurvey https://docs.google.com/forms/d/1-9Q1EYtRr4SbrYX39T_fn7gjo3EK58W5VGXI79wfYlU/viewform?usp=send_form
Redirect /Interest-Survey https://docs.google.com/forms/d/1-9Q1EYtRr4SbrYX39T_fn7gjo3EK58W5VGXI79wfYlU/viewform?usp=send_form

Redirect /show /news/2019-Scout-Memorabilia-Show

Redirect /noac https://colbsa.doubleknot.com/event/2020-noac/2578650

Redirect /dinner /news/2021-Virtual-Celebration

Redirect /trivia http://colbsa.doubleknot.com/registration/calendardetail.aspx?activitykey=2647209&orgkey=2793

Redirect /coronavirus /news/Response-to-COVID-19
Redirect /covid19 /news/Response-to-COVID-19

Redirect /ldd /lld
