<footer class="footer footer-main mt-1">
  <div class="container">
    <div class="row mx-auto">
      <div class="col-md-4">
        <h4>Quick Links</h4>
        <ul class="footer-links fa-ul">
          <li><a href="/calendar"><i class="fa-li fa fa-calendar"> </i>Calendar</a></li>
          <li><a href="/tradingpost"><i class="fa-li fa fa-shopping-cart"> </i>Trading Post</a></li>
          <li><a href="/contact"><i class="fa-li fa fa-envelope"> </i>Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Resources</h4>
        <ul class="footer-links" style="list-style: none; margin-left: -30px;">
          <li><a href="http://www.colbsa.org/">Cradle of Liberty Council</a></li>
          <li><a href="https://sectione17.oa-bsa.org/">Section E17</a></li>
          <li><a href="https://oa-scouting.org/eastern/">Eastern Region</a></li>
          <li><a href="https://www.oa-scouting.org/">National OA</a></li>
          <li><a href="https://www.scouting.org">Scouting America</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Stay Connected</h4>
        <p class="footer-socialmedia">
          <a href="http://facebook.com/unamilodge"><i class="fa fa-facebook-square fa-2x"></i></a>
          <a href="http://instagram.com/unamilodge"><i class="fa fa-instagram fa-2x"></i></a>
          <a href="http://youtube.com/unamilodge"><i class="fa fa-youtube-square fa-2x"></i></a>
          <a href="http://flickr.com/unamilodge"><i class="fa fa-flickr fa-2x"></i></a>
        </p>
        <ul class="footer-links fa-ul">
          <li>
            <a href="https://maps.app.goo.gl/EyoWDSrGNjNzhhFPA"><i class="fa-li fa fa-map-marker"> </i>
            Unami Lodge, One<br />
            901 East 8th Ave Suite 103<br>
            King of Prussia, PA 19406</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-10 mx-auto">
        <p class="copyright">Copyright &copy; {{ 'now' | date: "%Y" }}, Unami Lodge, One - Cradle of Liberty Council, BSA &bull; All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" integrity="sha384-u/bQvRA/1bobcXlcEYpsEdFVK/vJs3+T+nXLsBYJthmdBuavHvAW6UsmqO2Gd/F9" crossorigin="anonymous"></script>
<script src="{% ministamp /assets/custom/js/main.js /assets/custom/js/main.js %}"></script>
{% for dependency in page.dependencies -%}
<script src="{{dependency.src}}"></script>
{% endfor -%}
{% for script in page.scripts -%}
<script src="/{% ministamp { source_path: '{{ script.src }}', destination_path: '{{ script.src }}' } %}"></script>
{% endfor -%}

</body>
</html>
