<footer class="footer footer-main mt-1">
  <div class="container">
    <div class="row mx-auto">
      <div class="col-md-4">
        <h4>Quick Links</h4>
        <ul class="footer-links fa-ul">
          <li><a href="{{ site.url }}/calendar"><i class="fa-li fa fa-calendar"> </i>Calendar</a></li>
          <li><a href="{{ site.url }}/tradingpost"><i class="fa-li fa fa-shopping-cart"> </i>Trading Post</a></li>
          <li><a href="{{ site.url }}/cotact"><i class="fa-li fa fa-envelope"> </i>Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Resources</h4>
        <ul class="footer-links" style="list-style: none; margin-left: -30px;">
          <li><a href="http://www.colbsa.org/">Cradle of Liberty Council</a></li>
          <li><a href="http://www.oane5.org/">Section NE-5</a></li>
          <li><a href="https://www.northeast.oa-bsa.org/">Northeast Region</a></li>
          <li><a href="https://www.oa-bsa.org/">National OA</a></li>
          <li><a href="https://www.scouting.org">Boy Scouts of America</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Stay Connected</h4>
        <p class="footer-socialmedia">
          <a href="http://facebook.com/unamilodge"><i class="fa fa-facebook-square fa-2x"></i></a>
          <a href="http://twitter.com/unamilodge><i class="fa fa-twitter-square fa-2x"></i></a>
          <a href="http://instagram.com/unamilodge"><i class="fa fa-instagram fa-2x"></i></a>
          <a href="http://youtube.com/unamilodge"><i class="fa fa-youtube-square fa-2x"></i></a>
        </p>
        <ul class="footer-links fa-ul">
          <li>
            <a href="@"><i class="fa-li fa fa-map-marker"> </i>
            Unami Lodge, One<br />
            1485 Valley Forge Rd <br>
            Wayne, PA 19087</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-10 mx-auto">
        <p class="copyright">Copyright &copy; 2019, Unami Lodge, One - Cradle of Liberty Council, BSA &bull; All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>

<script src="{{ site.url }}/assets/vendor/jquery/jquery.min.js"></script>
<script src="{{ site.url }}/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="{{ site.url }}/assets/custom/js/main.js"></script>

</body>
</html>
