<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-auto">
      <img src="img/sample/web_tile_15.png" class= "img-fluid" alt="">
    </div>
    <div class="col">
      <div class="card-block px-3 py-2">
        <div class="clamp">
          <h5><a href="/article/we-support-camping-award" hreflang="en">We Support Camping Award</a></h5>
          The Southern Region aims to continuously encourage the participation of lodges throughout the region with camping in their council. They have motivated lodges through their ‘We Support Camping Award” since 2013.
        </div>
        <div>
          <i class="fa fa-clock-o"></i> Nov 26, 2018 &nbsp;&nbsp;&nbsp;
          <i class="fa fa-file-text-o"></i> <a href="/news/oa-today" hreflang="en">OA Today</a>
        </div>
      </div>
    </div>
  </div>
</div>
