{% include page_head.html %}
{% if page.event %}
  {% assign event = site.data.events | where_exp: "event", "event.title == page.event.title and event.date == page.event.date" | first %}
{% else %}
{% assign event = false %}
{% endif %}

<!-- Main Content -->
<div class="container content mt-3">
  <div class="row">
    <div class="col">
      <h1>{{page.title}}</h1>
    </div>
  </div>
  <div class="row">
      <div class="col-lg-8">
        {% if page.banner %}
        {% picture post /img/posts/banners/{{page.banner}} --img class="img-fluid rounded" %}
        {% endif %}
        <hr>
            <i class="fa fa-clock-o"></i> {{ page.date | date: '%B %d, %Y' }}
            {% if page.updating %}
            <i class="fa fa-refresh pl-5"></i> Updating Thread
            {% elsif page.author %}
            <i class="fa fa-user-o pl-5"></i> {{page.author}}
            {% endif %} 
        <hr>
        {{content}}
      </div>
      <div class="col-lg-4">
        {% if event %}
        <div class="card mb-3">
          <h5 class="card-header">Event Information</h5>
          <div class="card-body">
            <ul class="list-unstyled my-0">
              <li>
                <i class="fa fa-calendar pr-2 text-body"></i>
                {%- if event.date-end %}
                  {%- assign m = event.date | date: "%-m" -%}
                  {%- assign n = event.date-end | date: "%-m" -%}
                  {%- if m == n -%}
                    {{event.date | date: "%B %-d"}}-{{ event.date-end | date: "%-d, %Y"}}
                  {%- else -%}
                    {{event.date | date: "%B %-d"}} - {{ event.date-end | date: "%B %-d, %Y"}}
                  {%- endif -%}
                {%- else -%}
                  {{event.date | date: "%B %-d, %Y"}}
                {% endif -%}
              </li>
              {% if event.time %}
              <li>
                <i class="fa fa-clock-o pr-2 text-body"></i>{{event.time}}
              </li>
              {% endif %}
              <li>
                <i class="fa fa-map-marker pr-2 text-body"></i>
                {% if event.location-url %}
                  <a href="{{event.location-url}}" target="_blank">{{event.location}}</a>
                {% else %}
                  {{event.location}}
                {% endif %}
              </li>
              {% if event.price %}
              <li>Price: &dollar;{{event.price}}</li>
              {% endif %}
              {% if event.r-closes %}
              <li>Registration Closes: {{event.r-closes | date: "%B %-d, %Y"}}</li>
              {% endif %}
            </ul>
          </div>
          {% if event.link-url %}
            <div class="card-footer"><a class="btn btn-primary btn-block" href="{{event.link-url}}" target="_blank">{{event.link-text}}</a></div>
          {% else %}
            <div class="card-footer">{{event.link-text}}</div>
          {% endif %}
        </div>
        {% endif %}
        <div class="card mb-3">
          <h5 class="card-header">Recent Posts</h5>
          <ul class="list-group list-group-flush">
            {% for post in site.posts limit:5 %}
              <li class="list-group-item"><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% include page_footer.html %}
