{% include page_head.html %}

<!-- Main Content -->
<div class="container content mt-3">
  <div class="row">
    <div class="col">
      <h1>{{page.title}}</h1>
    </div>
  </div>
  <div class="row">
      <div class="col-lg-8">
        {% if page.banner %}
        <img class="img-fluid rounded" src="/img/posts/banners/{{page.banner}}" alt="">
        {% endif %}
        <hr>
            <i class="fa fa-clock-o"></i> {{ page.date | date: '%B %d, %Y' }}
            {% if page.author %}
            <i class="fa fa-user-o pl-5"></i> {{page.author}}
            {% endif %}
        <hr>
        {{content}}
      </div>
      <div class="col-lg-4">
        <div class="card">
          <h5 class="card-header">Recent Posts</h5>
          <ul class="list-group list-group-flush">
            {% for post in site.posts limit:5 %}
              <li class="list-group-item"><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% include page_footer.html %}
